{{#title}}
    <h1 class="content-body-title">
        {{#url}}<a href="{{url}}" target="_blank">{{/url}}
            {{{ title }}}
        {{#url}}</a>{{/url}}
    </h1>
{{/title}}

<div class="content-body-main">{{{ body }}}</div>

{{#featured}}
    <div class="content-featured">Featured</div>
{{/featured}}
